body {
  font-family: Arial, sans-serif;
  background: #ffe600;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #0400ff;
  color: white;
  padding: 15px;
}

footer {
    text-align: center;
  background: #ff0000;
  color: white;
  padding: 15px;
}

.perfil-card {
  max-width: 350px;
  margin: 10px auto;
  padding: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9fff72;
}

.perfil-card img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.perfil-card h2 {
  margin: 10px 0;
  color: #000000;
  font-size: 35px
}

.perfil-card p {
  color: #000000;
  font-size: 20px;
}

.social {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 35px;
}

.social li a {
  text-decoration: none;
  color: #4c00ff;
  font-weight: bold;
}