body {
  font-family: Arial, sans-serif;
  background: #ffe600;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background: #0400ff;
  color: white;
  padding: 15px;
}

footer {
    text-align: center;
  background: #ff0000;
  color: white;
  padding: 15px;
}